h1{
    display: flex;
    justify-content: center;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background-image: url('https://i.pinimg.com/originals/47/b9/14/47b91495e80426f8b2d419a23c80da59.png') ;
    
}



